name: Clean Runs and Logs Workflows
 
on: [push]
 
jobs:
  run-javascript-action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: JavaScript repeat action
        uses: jmmirand/clean-workflows-logs-runs@main
        with:
         myToken: ${{ secrets.GITHUB_TOKEN }}
         num_runs: 12

